* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

header{
	background-color: white;
	position: fixed;
	width: 100%;
}

nav li {
	padding: 0.5em;
	list-style: none;
}

section ul {
	padding: 1em;
}

body > section {
	padding: 5em 1em; 
	color: white;
	height: 100vh;
}

h2 {
	font-size: 1.2em;
}

#home{
	background-color: #83C7E5;
}

#pokemon{
	background-color: #00AAAD;
}

#pokemon main {
	float: left;
}

#pokemon > div{
	float: left;
	display: inline-block;
	max-width: 60em;
	max-height: 60em;
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

#home li {
	display: inline-block; 
	padding: 1em;
}

.invis{
	display: none;
}